*{
    margin:20;
    padding: 0;
}
body{
    background:url(bg.avif)  no-repeat fixed center;
    background-size: cover;
    justify-content: center;
    
}
h1{
    color:aliceblue;
    font-size:45px;
    text-align: center;
}
.firstbox, .secondbox, .drop-down, .result-btn, .output{
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    
   
}
.result-btn{
    margin-top: 2%;
}
.first, .second, .op, .calcbutton, .third{
    margin-top:40px;
    width:50%;
    height:5vh;
    text-align: center;
    border-radius: 10px;
    background-color: #EA4C89;
    border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  outline: none;
}
.op{
    width:10%;
}
.calcbutton
{
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: aqua;
    
    
}
.third{
    width:30%;
}


/* CSS */
.calcbutton {
margin-top:7%;
width:15%;
background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.calcbutton:hover, .first:hover, .second:hover, .third:hover
.calcbutton:focus,  .first:focus, .second:focus, .third:focus {
  background-color: #F082AC;
}
@media (max-width:500px)
{
    .first, .second, .op, .calcbutton, .third{
        font-size:12px;
    }
    .op{
        width:70px;
    }
    .calcbutton{
        width: 100px;
        line-height: 1;
    }
  
}
@media (min-width: 501px) and (max-width: 800px) {
    .first, .second, .op, .calcbutton, .third{
        margin-top: 3%;
        height:7vh;
        font-size:12px;
    }
    .op{
       
        width:70px;
    }
    .calcbutton{
        width: 100px;
        line-height: 1;
    }
}
    
